</head>
<body>
    <!-- Nav bar contains links to all 4 pages -->
    <nav>
        <div id="company-name">
            <a href="/"><h1>Phoenix Foundation</h1></a>
        </div>
        <div id="links">
            <a href="/whoWeAre"><h2>Who We Are</h2></a>
            <a href="/whatWeDo"><h2>What We Do</h2></a>
            <a href="/contactUs"><h2>Contact Us</h2></a>
        </div>
    </nav>