<%- include('./partials/header') %>

<link rel="stylesheet" href="/stylesheets/error404.css">
<title>Phoenix Foundation - Error 404</title>

<%- include('./partials/navbar') %>

<div id="error-area">
    <h1>Error 404</h1>
    <h3>The page you requested was not found.</h3>
</div>

<%- include('./partials/footer') %>