<%- include('./partials/header') %>

<link rel="stylesheet" href="/stylesheets/whoWeAre.css">
<title>Phoenix Foundation - Who We Are</title>

<%- include('./partials/navbar') %>

<!-- Area containing information about who we are -->
<div id="who-we-are-content">
    <h1 id="page-title">Who We Are</h1>
    <div id="content-area">
        <div id="content-left">
            <!-- Little blurb about ourselves -->
            <p id="text">
                Phoenix Foundation consists of a group of student developers
                that think outside of the box to develop new solutions that
                impact its users. We want the world to be better connected by
                supporting inclusivity and diversity among our users. We believe
                these measures will inspire more people to share their interests
                with the world and connect with other users from different countries
                around the world.
            </p>
            <img src="/res/legos.jpg" class="who-we-are-img" id="img-left">
        </div>
        <img src="/res/plane.jpg" class="who-we-are-img" id="img-right">
    </div>
</div>

<%- include('./partials/footer') %>